<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daisuki Onii-chan Web Tracking</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <nav class="menu">
        <ul class="menu-ul">
          <li>
            <img
              src="../pic/DaisukiOnii-chan_ba-style@nulla.top.png"
              alt="Just daisuki Oniichan"
              class="onii-chanlogo"
            />
          </li>
          <li>Let Him Cook!!</li>
          <li>No Waifu no laifu !!</li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
